<div class='container' id='surround'>

<div class='center'>
<h1>Links Index</h1>
<%= render 'new' %>
</div>

<div class="links-box">
</div>

<div id='logout'>
<%= link_to 'Log Out', logout_path %>
</div>

</div>