<div class='container surround'>

<div class='center'>
<h1>Links Index</h1>
<%= render 'new' %>
</div>

<div class="search"><input type="text" class="form-control not-as-hideous" placeholder="Search" onkeyup="filter(this)"></div>

<div class="links-box">
</div>

<div id='logout'>
<%= link_to 'Log Out', logout_path %>
</div>

</div>